:root {
    --closed-tabbar-width: 36px ;
    --expanded-tabbar-width: 205px ;
    --hl-color: rgb(199, 146, 234) ;
}

/* This positions the tabs under the navaigator container */
#titlebar {
  -moz-box-ordinal-group: 4 !important;
}

/* center text of the url bar */
#urlbar-input {
  text-align: center !important;
}
#urlbar-input:focus {
  text-align: left !important;
}

/* hide tab bar */
#TabsToolbar {
    display: none ;
}

#reader-mode-button {
    display: none;
}

#sidebar-header {
    display: none;
}

#sidebar-splitter {
    width: 1px !important ;
    background-color: var( --chrome-content-separator-color ) !important ;
    border: 0 !important ;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    min-width: var( --closed-tabbar-width ) !important ;
    max-width: var( --closed-tabbar-width ) !important ;
    transition: min-width, max-width .2s ;
}
/**/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    min-width: var( --expanded-tabbar-width ) !important ;
    max-width: var( --expanded-tabbar-width ) !important ;
    transition: min-width, max-width .2s ;
}
/**/
